*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*MAIN BAR */
  .navbar{
      display: flex;
      align-items: center;
      padding: 20px;
      
  }
  
  
  
  nav{
    flex: 1;
    text-align: right;
  }
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  nav ul{
    
    display: inline-block;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-bottom: 45px;
    margin-right: 20px;
  }
  a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 30px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    margin-top: 20px;
    
  }
  nav a:hover,
  nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
  }

  /*MAIN CONTACT*/
  #head1{
    position: relative;
    left: 620px;
    bottom: 70px;
    display: inline-block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border-bottom: 1px #b74b4b solid;
    user-select: none;
  }
  #border{
    position: absolute;
    display: inline-block;
    border: solid 2px #b74b4b;
    border-radius: 12px;
    width: 700px;
    height: 380px;
    left: 330px;
    box-shadow: 0px 0px 20px #b74b4b;

  }
  
  #emailtextfield{
    width: 160px;
    position: absolute;
    left: 480px;
    display: inline-block;
    border: none;
    top: 240px;
    background-color: grey;
    height: 20px;
    border-radius: 8px;
  }
  #label1{
    position: absolute;
    color: white;
    top: 240px;
    left: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #usertextfield{
    width: 160px;
    position: absolute;
    left: 830px;
    display: inline-block;
    border: none;
    top: 242px;
    background-color: grey;
    height: 20px;
    border-radius: 8px;
  }
  #label2{
    position: absolute;
    color: white;
    top: 240px;
    left: 665px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #textarea{
    position: absolute;
    display: inline-block;
    left: 510px;
    top: 300px;
    width: 490px;
    height: 210px;
    resize: none;
    border: none;
    background-color: gray;
    border-radius: 10px;
  }
  #label3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    display: inline-block;
    left: 340px;
    top: 400px;
  }
  #subbutton{
    position: absolute;
    left: 660px;
    top: 537px;
    width: 80px;
    height: auto;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }




  body {
  
    background-color: #0f0f0f;
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 1200px;
    height: 800px;
    animation: fadeInAnimation ease 1.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50%{
      opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
  }